
@{
    ViewBag.Title = "Cargar horas médicas";
}
@section Styles{
    <link href="@Url.Content("~/ContentCSS/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
}

<h2>Cargar horas médicas</h2>

<div class="row">
    <div class="col">
        <h3>En construcción</h3>
    </div>
</div>
