
@{
    ViewBag.Title = "Ver horas médicas";
}
@section Styles{
    <link href="@Url.Content("~/ContentCSS/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
}

<h2>Ver horas médicas</h2>

<div id="calendar" class="t-spacing bl-spacing"></div>

<script src="~/Scripts/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="~/Scripts/fullcalendar/locale/es.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
        },
        eventLimit: true
    })

});
</script>