
@{
    ViewBag.Title = "Intranet";
}

<h2>Intranet</h2>

<div class="row">
    <div class="col">
        <p>Bienvenido a la intranet HCMS</p>
        <p>&laquo; Ingresa a una de las opciones indicadas</p>
    </div>
</div>
