@{
    ViewBag.Title = "HCMS";
}

<div class="jumbotron">
    <h1>HCMS</h1>
    <p class="lead">Bienvenido al sistema médico HCMS</p>
    <p>&laquo; Ingresa a una de las opciones indicadas</p>
</div>

<div class="row bl-spacing">
    <div class="col-md-4">
        <h2>Recuerda</h2>
        <p>Para poder tomar horas, debes obtener tu clave en tu centro médico</p>
        <p>Si tu centro médico no cuenta con el sistema, no podrás utilizar el sistema</p>
    </div>
</div>