<div id="resultado">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Ha ocurrido un error</h3>
    </div>
    <div class="modal-body">
        <p class="text-danger">@ViewBag.Message</p>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button type="button" class="btn btn-default col-sm-4 col-sm-offset-4" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>