body {
    margin-top: 55px;
    margin-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.t-spacing{
    margin-top: 20px;
}

.x-spacing{
    margin-left: 20px;
    margin-right: 20px;
}

.bl-spacing{
    margin-bottom: 70px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button-white{
    color:white !important;
}


div#footer{
    padding: 20px 20px 20px 20px;
}

 .textfooter{
     color:#999 !important;
     text-decoration:none;
 }

 .textfooter:hover{
     color:#fff !important;
     text-decoration:none;
 }

 .margin-footer-text{
     margin-left:25px;
 }

@media all and (max-width:400px)
{
    .jumbotron {
        max-width:300px !important;
    }
    .button-white{
        color:white !important;
    }
}
